<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Meu cadastro</title>
</head>
<body>
  <h1>Meu cadastro</h1>

  <p><strong>Nome:</strong> <%= user.name %></p>
  <p><strong>E-mail:</strong> <%= user.email %></p>

  <p><a href="/logout">Sair</a></p>
</body>
</html>
